<h1>Movies in Database</h1>

<div id="movies" class="row">
  <% @allmovies.each do |movie| %>
    <div class="card col-3 text-center">
      <p><%=movie.title%></p>
      <p><img src=<%= movie.poster_url%> width="200" height="300"></p>
      <p><%= link_to "Show this movie", movie %></p>
    </div>
  <% end %>
</div>
